<!DOCTYPE html>
<html>
<head>
		<title>Home - ChordBot</title>
		<!-- <link rel="stylesheet" href="main.css"> -->
    <!-- <link rel= "stylesheet" type= "text/css" href= "\operation_uwu\static\styles\main.css"> -->

    <link rel="stylesheet" type= "text/css" href="{{ url_for('static', filename='styles/main.css') }}">
		<!--   type              source-->
    <title></title>
</head>

<body>
    <h1>ChordBot</h1>

    <div class="menu">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="help">Help</a></li>
      </ul>
    </div>
    <h5>Help / FAQ</h5>
    <div class="blog">
    <p>ChordBot helps musos analyse songs they like and identify chord progressions
			that they could add to their own songs. <br><br> This shows us the ways
      harmony can affect a particular song's mood and tone. <br><br> How does it work?<br>
			The Chordbot software returns a statistical report of common chord progressions
			in a piece that may be of interest. <br><br> It then uses the data its
			collected to try and creates it's own chord progression that is similar.  <br><br></p>
